.main-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;


    .main-btn{
        margin-top: 5px;
    }

    &__field{
        display: flex;
        flex-direction: column;
        grid-gap: 6px;
    }

    &__link{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: rgba(var(--cl-j),1.0);
        transition: all .3s;
        text-decoration: underline;
        text-decoration-skip-ink: auto;
        text-decoration-color: transparent;
        width: fit-content;

        &:hover{
            text-decoration-color: inherit;
            color: rgba(var(--cl-l),1.0);
        }
    }

    &__icon{
        z-index: 1;
        position: absolute;
        bottom: 16px;
        left: 15px;
        pointer-events: none;
    }

    &__name{
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
    }

    &__label{
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 99px;
        height: 46px;
        background: rgba(var(--bg-f),1.0);
        transition: all .3s;
        
        &:has(.main-form__input:focus){
          border-color: var(--br-i);
        }

        &:has(.main-form__show:focus){
            border-color: var(--br-i);
          }
    }

    &__input{
        padding: 11px 20px 15px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: rgba(var(--cl-a),1.0);
        width: 85%;

        &::placeholder{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: rgba(var(--cl-a),1.0);
        }
    }

    &__coin{
        font-size: 14px;
        line-height: 143%;
        color: rgba(var(--cl-c),1.0);
        position: absolute;
        bottom: 15px;
        right: 20px;
    }

    &__show{
        position: absolute;
        bottom: 16px;
        right: 15px;
        z-index: 2;
        transition: all .3s;

        &.active{
            opacity: .4;
        }

        &:hover{
            transform: scale(1.08);
        }
    }

    &__rules{
        display: flex;
        align-items: center;
        grid-gap: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: rgba(var(--cl-a),1.0);

        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: rgba(var(--cl-a),1.0);
        }

        &-link{
            text-decoration: underline;
            text-decoration-skip-ink: none;
            transition: all .3s;
           
            &:hover{
                color: rgba(var(--cl-l),1.0);
            }
        }

        @include for-mobile{
            grid-column: span 2;
        }
    }

    &--mode{
        grid-gap: 16px;

        @include for-mobile{
            display: grid;
            grid-template-columns: repeat(2, 1fr);            
        }

        .main-form{
            &__label{
                border-radius: 12px;
                height: 60px;
                border: 1px solid var(--br-e);
            }

            &__input{
                text-indent: 25px;
                padding: 19px 20px 18px;
            }

            &__link{
                @include for-mobile{
                    grid-column: span 2;
                    justify-self: center;
                }
            }
        }

        .main-btn{
            margin-top: initial;

            @include for-mobile{
                max-width: 400px;
                justify-self: center;
                grid-column: span 2;
            }
        }
    }
}