.first-section {
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding: 60px 0 30px;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    grid-gap: 13px;
    width: 100%;
    margin-top: 25px;
  }

  &__image {
    z-index: -2;
    margin-top: -45px;
    &::before {
      position: absolute;
      content: "";
      background: rgba(var(--bg-f), 1);
      bottom: calc(Min(12.3932vw, 145px) * -1);
      z-index: 2;
      height: 139px;
      filter: blur(10.44439697265625px);
      left: 50%;
      transform: translateX(-50%);
      width: 120vw;
      bottom: 60px;
    }

    @media (max-height: (720px)) {
      margin-top: -65px;
    }

    img,
    picture,
    video {
      width: 100%;
      height: auto;
    }

    @include for-mobile {
      width: Min(88.2051vw, 1032px);
    }

    @include mobile {
      img,
      picture,
      video {
        width: 115%;
        position: relative;
        left: -7%;
      }
    }
  }
}
