.aside-nav{
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

    &__button{
        height: 50px;
        display: flex;
        align-items: center;
        grid-gap: 4px;
        width: 100%;
        padding: 13px 24px;
        color: rgba(var(--cl-c),1.0);
        font-weight: 400;
        font-size: 16px;
        transition: all .3s;
        border-radius: 8px;
        @include gradient-border(var(--gr-y), 1px);
       
        &::after{
            pointer-events: none;
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 1px;
            background: var(--gr-w);
           -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            transition: opacity .3s;
            opacity: 0;
        }

        &::before{
            transition: opacity .3s;
            opacity: 0;
        }

        &.active{
            background: var(--gradient-k);
            color: rgba(var(--cl-a),1.0);
            &::before, &::after{
                opacity: 1;
            }
            .aside-nav__icon{
                svg{
                    fill: rgba(var(--cl-j),1.0);
                }
            }
        }

        &:hover{
            background: var(--gradient-k);
            &::before, &::after{
                opacity: 1;
            }
        }

        .green-text{
            font-size: 12px;
        }
    }

    &__icon{
        margin-right: clamp(10px, 1.2821vw, 15px);
        pointer-events: none;

        svg{
            transition: all .3s;
            fill: rgba(var(--cl-c),1.0);
        }
    }
}