.logo img {
  width: 256px;
  height: 63px;
}

.green-text{
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  color: rgba(var(--cl-j),1.0);
}

.main-copy{
  overflow: hidden;
  background: rgba(var(--bg-f),1.0);
  border: 1px solid var(--br-f);
  border-radius: 9999px;
  position: relative;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 4px 13px;

  &__btn{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 13px;
    top: 0;
    bottom: 0;
    z-index: 2;

    svg{
      transition: all .3s;
      fill: rgba(var(--cl-p),1.0);
    }

    &:hover{
      svg{
        fill: rgba(var(--cl-a),1.0);
      }
    }
  }

  &__input{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    color:  rgba(var(--cl-a),1.0);
    width: calc(100% - 33px);
    text-overflow: ellipsis;
    overflow: hidden;

    &::placeholder{
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 13px;
      color:  rgba(var(--cl-a),1.0);
    }
  }
}

.search{
  border-radius: 99px;
  background: var(--gr-x);
  width: 100%;
  max-width: 236px;
  background-color:  rgba(var(--bg-f),1.0);

  &__label{
    width: 100%;
    border-radius: inherit;
    position: relative;
    z-index: 1;
    @include gradient-border(var(--gr-w), 1px);
  }

  &__border{
    border-radius: inherit;
    inset: 0;
    z-index: 2;
    pointer-events: none;
    @include gradient-border(var(--gr-y), 1px);
    position: absolute;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
  }

  &__input{
    border-radius: inherit;
    padding: 16px 16px 18px;
    margin-left: 34px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(var(--cl-a),1.0);

    &::placeholder{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: rgba(var(--cl-a),1.0);
    }

    &.focus-visible{
      ~ .search__border{
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__btn{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }
}

.main-link{
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  color: rgba(var(--cl-j),1.0);
  text-underline-offset: 3px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: all .3s;

  &:hover{
    text-decoration-color: transparent;
  }
}
